<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="学校运动会管理系统.Properties.Settings.jwglConnectionString"
            connectionString="Data Source=PC-20160528TLMD\SQLEXPRESS;Initial Catalog=jwgl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>